html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
	.swiper-container #mz{
		position: fixed;
		right:10%;
		top: 5%;
		animation: run 1s linear infinite;
		width:8%;
		z-index: 22;
		cursor: pointer;
	}
	@keyframes run{
		from{
			transform: rotate(0deg);
		}
		to{
			transform: rotate(360deg);
		}
	}	
	.swiper-slide.one{
		background: url(../img/背景.png)no-repeat;
		background-size: cover;
		position: relative;
	}
	.one .top{
		width:90%;
		
		margin: auto;
		margin-top: 5%;
		
		/*border: 1px solid red;*/
	
	}
	.one .top .top1{
		width: 100%;
	}
	.one .topx{
		width: 90%;
		margin: auto;
		margin-top:-13%;
		/*border: 1px solid red;*/
		
	}
	.one .topx .top2{
		width: 100%;
	}

	.one .xia{
		width: 90%;
		margin: auto;
		/*border: 1px solid red;*/
	}
	.one .xia .xiatu{
		width: 100%;
	}

	
	.swiper-slide.two{
		background: url(../img/背景.png)no-repeat;
		background-size: cover;
		
	}
	.two .shang{
		width:70%;
		/*border: 1px solid red;*/
		margin: auto;
		margin-top:0%;
	}
	.two #box1{
		width: 100%;
		height: 100%;
		/*border: 1px solid red;*/
	}
	.two .shang .tu1{
		width: 100%;
	}

	.two .zi{
		width:90%;
		height:80%;
		/*border: 1px solid red;*/
		margin: auto;
		margin-bottom: 0%;
		text-align: center;
		font-family: weiruanyahei;
		color: rgb(103, 103, 103);
		font-size: 12px;
		
	}
	.two .zi1>span{
		/*line-height:140%;*/
		height:12px;
		/*border: 1px solid red;*/
		margin-top:2%;
		width:0%;
		
		overflow: hidden;
	}
	.two .zi .zi1{
		width:auto;
		display:none;
		line-height: 100%;
		/*border: 1px solid red;*/
		
	}
	.two .zi>span{
		margin-top: 3%;
	}
	
	.two .zi .sta{
		width: 30%;
		margin: auto;
		/*border: 1px solid red;*/
	}
	.two .zi .sta .kais{
		width: 100%;
		margin-top:10%;
	}
	/*第二屏第二个*/
	#box2{
		width:100%;
		height: auto;
		display: none;
	}
	#box2>.dlam1{
		display: block;
		width: 100%;
		height: 100%;
		margin-top: 5%;
	}
	#box2>.dlam{
		position: absolute;
		top:20%;
		left: 10%;
		width: 80%;
		animation: dlam2 5s ease infinite;
		/*transform-origin: 50% 50%;*/
	}
	@keyframes dlam2{
		0%{
			transform:rotate(0deg);
		}
		20%{
			transform:rotate(-30deg);
		}
		30%{
			transform: rotate(-30deg);
		}
		100%{
			transform:rotate(0deg);
		}
	}
	/*第二屏第二个结束*/
	/*第二屏第三个*/
	#box3{
		width: 100%;
		height: 100%;
		background: palevioletred;
		display: none;
	}
	#box3>img{
		width: 100%;
		height: 100%;
		display: block;
	}
	/*第二屏第三结束*/
	/*第三屏*/
	.three{
		background: url(../img/bj31.png)no-repeat;
		background-size:100%;
		position: relative;
		z-index: 1;
	}
	.three .top{
		width:100%;
		height: 100%;
		
		margin:auto;
		z-index:2;
	}
	.three .top .sk{
		width:100%;
		height:100%;
	}
	.three .kl{
		width: 90%;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
	}
	.three .kl .hp{
		width: 100%;
		
	}
	.three .dlam{
		width: 60%;
		position: absolute;
		top:12%;
		right: 10%;
		z-index:-99;
		/*transition: all 1s ease-in-out;*/
		animation: run1 3s ease infinite;
		transform-origin: center bottom;
	}
	@keyframes run1{
		0%{
			transform: rotate(0deg);
			
		}

		50%{
			transform: rotate(-30deg);
			
		}
		100%{
			transform: rotate(0deg);
			
		}
	}
	.three .dlam .dlam1{
		width: 100%;
		
	}
	
	.three .erwma{
		width:40%;
		position: absolute;
		top:40%;
		left:30%;
		
	}
	
	.three .ma{
		width:100%;
	}
	.three .gzs{
		width:30%;
		position: absolute;
		top:66.5%;
		left:35%;
		/*border: 1px solid red;*/
		text-align: center;
		font-family: "Microsoft Yahei",Tahoma,Helvetica,Arial,sans-serif;
		font-size: 13px;
		line-height: 13px;
		
		color: rgb(12, 82, 158);
	}
	.three .last{
		width: 100%;
		height:30%;
		position: absolute;
		bottom: 0%;
	}
	.three .last .toger{
		width: 100%;
	}
/*第三屏结束*/


















































